*{
    margin: 0;
    padding: 0;
}

body{
font-family: 'Fira Sans', sans-serif;
}

.cabecalho{
    background-color: #4061A0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
 width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.infoclick-imagem{
    width: 25%;
}

.infoclick{
    background-image: linear-gradient(#4061A0,#2C97E4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.infoclick-div-conteudo{
    width: 35%;
}

.infoclick-titulo{
    padding: 24px 0;
}

.informante-imagem{
    width: 120px;
}

.informante-icone{
    width: 24px;
    margin: 30px;
}

.informante-div{
    text-align: center;
}

.rodape{
    background-color: #4061A0;
    text-align: center;
}

.rodape-imagem{
    height: 40px;
    padding: 12px 0;
    
}